<h1>Show user</h1>

<p class="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= user.firstname %>&nbsp;<%= user.lastname %>
</p>
<p>
  <b>Email:</b>
  <%= user.email %>
</p>

<%= link_to 'Edit', edit_user_path(user) %> |
<%= link_to 'Back', users_path %>