<p class="notice"><%= notice %></p>
<h1><%= @post.title %></h1>
<p><i>by <%= @post.name %></i></p>
<p><%= @post.content %></p>

<h2><%= pluralize @post.comments.count, 'comment' %></h2>
<%= render :partial => "comments/comment",
           :collection => @post.comments %>

<h3>Add your comment:</h3>
<%= render "comments/form" %>

<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
